header{
    background-color: rgb(33, 125, 247);
    background-image: url("../img-2/pattern.png");
    height: 150px;
}

.logo{
    width: 10%;
    text-align: bottom;
}

.text-yellow{
    background-color: yellow;
}

.head-row{
   color: white;
   background-color: rgb(0, 174, 232);
}

.lightblue-row{
    background-color: rgb(179, 226, 238);
}

h3{
    font-size: 13px;
}

.text-info{
    font-size: 15px;
    color: gray;
}

.lightblue-text{
    color: rgb(13, 185, 248);    
}

.short-first-cell{
    width: 20%;
    display: inline-block;
}

.short-cell{
    width: 17%;
    display: inline-block;
}

.long-cell{
    width: 60%;
    display: inline-block;
}

